/* responsive */
/* PC */
/* Tablet */

/* Mobile */
@media (max-width:740px) {
    #nav li {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #header .search-menu-btn {
        display: block;
    }

    .col.col-third,
    .col.col-second {
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }
}